# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/uploads/*
!public/uploads/.gitkeep
!public/uploads/mascota-1769809906967-735069701.jpg
!public/uploads/mascota-1769809906967-735069701.jpg
!public/uploads/mascota-1769809964848-547845249.jpg
!public/uploads/mascota-1769810014994-929546399.jpg
!public/uploads/mascota-1769810077902-2128527.jpg
!public/uploads/mascota-1769810113926-603834923.jpg